## ignore a single file
#mycode.class

## ignore an entire directory
#/mydebugdir/

## ignore a file type
#*.json

## add an exception (using !) to the preceding rule to track a specific file
#!package.json

videos/
*.pyc
.vscode/
